<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Smoke Suite">
  <test  name="lifeline Test">
    <classes>
      <class name="com.assurancewireless.coverageMap.LifeLineserviceTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
